$primary:#1a212c;
$black: #131313;
$yellow: #faa916;
$white: #e6f1ff;
$red: #f90a23;
$white: #e6f1ff;
$grey: #495670;
$blue-light: #0074c1;

$grid-columns: 12;
$grid-gutter-width: 3rem;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$font-family:'Mukta Vaani', sans-serif;
$title-font-family: 'Megrim', cursive;
